/* 清除样式 */
div,body,p,a,h1,h2,h3,h4,h5,h6,ul,li,ol,di,dd,dt,input,textarea,img,span{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
/* 公共部分 */
body{
    overflow-x: hidden;
    overflow-y: auto;
}
span{
    font-size: 30px;
    font-family: "宋体";
    display: block;
    margin-bottom: -10px;
    font-weight: bold;
}
a{
    font-size: 16px;
    font-family: "微软雅黑";
    text-indent: 10mm;
    display: block;
    line-height: 25px;
    background: linear-gradient(to right,red, green, blue);
    -webkit-background-clip: text;
    color: transparent;
}
/* 主体 */
.main{
    width: 980px;
    /* height: 6000px; */
    /* background-color: green; */
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header_txt{
    color: red;
    text-align: center;
    font-size: 40px;
    text-shadow: #000 5px 5px 5px;
}
.header_l{
    position: relative;
    top: -45px;
    z-index: -1;
}
/* .header_l2{
    position: absolute;
    left: -300px;
} */
.header_r{
    position: relative;
    left: 100px;
    top: -20px;
    z-index: -1;
    transform: rotate(90deg);
}
.header_c{
    position: relative;
    left: 296px;
    top: -388px;
}
.header_txt2{
    width: 291px;
    height: 144px;
    font-size: 18px;
    position: relative;
    top: -392px;
    left: 346px;
    text-indent: 10mm;
    box-shadow: 6px 12px 26px red;
}
/* 顶部 */
.content_t{
    width: 980px;
    height: 1106px;
}
.content_t_img_l{
    width: 366px;
    height: 500px;
    margin-top: -358px;
}
.content_t_txt_t{
    width: 586px;
    height: 468px;
    /* border: red solid; */
    margin: -474px 0 0 390px;
}
.content_t_img_c{
    width: 366px;
    height: 500px;
    margin: 42px 0 0 614px;
}
.content_t_txt_c{
    width: 586px;
    height: 468px;
    margin-top: -511px;
}
.content_t_img_b{
    width: 386px;
    height: 450px;
    margin-top: 74px;
}
.content_t_txt_b{
    width: 566px;
    height: 468px;
    margin:-420px 0 0 414px;
}
/* 中间 */
.content_c{
    width: 980px;
    height: 1256px;
}
.content_c_img_t{
    width: 696px;
    height: 592px;
    position: relative;
    left: 192px;
    top: 14px;
    z-index: -1;
}
.content_c_txt_t{
    width: 840px;
    height: 335px;
    /* border: red solid; */
    border-right: rgb(76, 180, 231) dotted 6px;
    border-bottom: rgb(76, 180, 231) dotted 6px;
    margin-top: -100px;
    margin-left: 30px;
    line-height: 30px;
    box-shadow: 28px 18px 10px #4965d6 ;
}
.content_c_title{
    width: 980px;
    height: 50px;
    line-height: 34px;
    /* border: red solid; */
    color: rgb(228, 7, 7);
    font-family: "宋体";
    font-size: 24px;
    font-weight: bold;
    margin-top: 42px;
}
/* 小版块 */
.content_c_img{
    width: 276px;
    height: 200px;
}
.content_c_img_l{
    margin-top: 28px;
}
.content_c_txt{
    width: 276px;
    height: 250px;
}
.content_c_img_c{
    position: relative;
    left: 354px;
    top: -454px;
}
.content_c_txt_c{
    position: relative;
    left: 354px;
    top: -454px;
}
.content_c_img_r{
    position: relative;
    left: 708px;
    top: -908px;
}
.content_c_txt_r{
    position: relative;
    left: 708px;
    top: -908px;
}
.content_zy{
    width: 130px;
    height: 110px;
    position: relative;
    left: 542px;
    top: -1058px;
    z-index: -1;
    transform: rotate(320deg);
}
/* 底部 */
.content_b{
    width: 980px;
    height: 560px;
}
.content_b_txt{
    writing-mode: vertical-lr;
    font-size: 24px;
    color: #1826B0;
    margin-top: 130px;
    margin-left: 60px;
    text-shadow: #FFBA00 2px 16px 8px;
    font-weight: bold;
}
.heart{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    left: 66px;
    top: 16px;
    transform: rotate(-45deg);
}
.heart:before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 0;
}
.heart:after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -12px;
}
.silde{
    width: 986px;
    height: 468px;
    position: relative;
    top: -450px;
    left: 312px;
    overflow: hidden;
    z-index: 2;
}
.silde ul{
    margin: 10px 0;
    padding: 0;
    width: calc(986px*6);
    transition: all 0.5s;
}
.silde li{
    float: left;
    width: 986px;
    height: 600px;
    list-style: none;
}
.silde input[name="sildeinput"]{
    display: none;
}
.silde label[for^="sildeinput"]{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 440px;
    margin: 0 250px;
    line-height: 20px;
    background: rgb(199, 196, 196);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}
.silde label[for="sildeinput1"]{
    left: 0;
}
.silde label[for="sildeinput2"]{
    left: 30px;
}
.silde label[for="sildeinput3"]{
    left: 60px;
}
.silde label[for="sildeinput4"]{
    left: 90px;
}
.silde label[for="sildeinput5"]{
    left: 120px;
}
.silde label[for="sildeinput6"]{
    left: 150px;
}
#sildeinput1:checked~ul{
    margin-left: 0;
}
#sildeinput2:checked~ul{
    margin-left: -986px;
}
#sildeinput3:checked~ul{
    margin-left: -1972px;
}
#sildeinput4:checked~ul{
    margin-left: -2958px;
}
#sildeinput5:checked~ul{
    margin-left: -3944px;
}
#sildeinput6:checked~ul{
    margin-left: -4930px;
}
#sildeinput1:checked~label[for="sildeinput1"]{
    background: rgb(131, 128, 128);
}
#sildeinput2:checked~label[for="sildeinput2"]{
    background: rgb(131, 128, 128);
}
#sildeinput3:checked~label[for="sildeinput3"]{
    background: rgb(131, 128, 128);
}
#sildeinput4:checked~label[for="sildeinput4"]{
    background: rgb(131, 128, 128);
}
#sildeinput5:checked~label[for="sildeinput5"]{
    background: rgb(131, 128, 128);
}
#sildeinput6:checked~label[for="sildeinput6"]{
    background: rgb(131, 128, 128);
}
.silde_txt{
    width: 642px;
    height: 34px;
    background: rgb(206, 202, 202);
    position: relative;
    top: -72px;
    z-index: 3;
    font-size: 18px;
    filter: alpha(opacity=70);/*IE*/
    -moz-opacity:0.7;/*火狐*/
    opacity:0.7;/*标准*/
    padding-top: 8px;
    padding-left: 16px;
    font-weight: bold;
}
/* 结尾 */
.footer{
    width: 980px;
    height: 540px;
}
.footer_l{
    width: 590px;
    height: 600px;
    position: relative;
    top: -210px;
    left: -58px;
    z-index: 4;
}
.footer_r{
    width: 350px;
    height: 560px;
    position: relative;
    top: -94px;
    left: -286px;
}
.footer_txt{
    font-size: 48px;
    font-weight: bold;
    color: pink;
    position: relative;
    top: -640px;
    left: 736px;
    writing-mode: vertical-lr;
    line-height: 64px;
    letter-spacing: 6px;
}