body,div,ul,li,ol,dl,dd,dt,h1,h2,
h3,h4,h5,h6,input,textarea,img,a,
p,span{
	margin:0;
	padding:0;
	list-style:none;
	border:none;
}

/*头部*/

a{
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}





.header_t{
    width: 1228px;
    height: 108px;
    background: #fff;
    position: fixed;
    left:10%;
    z-index:9999;
    margin-top: 0px;
}
.nav1{
    width: 498px;
    height: 136px;
    float: left;
}
.nav1 .nav_1 li{
    margin-left: 52px;
    margin-top: 50px;
    margin-right: 48px;
    float: left;
    font-size: 16px;
}
.nav1 a{
	color:#000;
	text-decoration: none;
}
.nav1 .nav_1 li img,.nav2 .nav_2 li img{
    width: 20px;
    height: 20px;
    margin: 2px 10px 0 0;
}
.nav2{
    width: 520px;
    height: 136px;
    margin: -122px 0 0 0;
    float: right;
    
}
.nav2 a{
	color:#000;
	text-decoration: none;
	font-size: 18px;
}
.nav2 .nav_2 li{
    margin-top: 50px;
    margin-right: 83px;
    float: left;
}
.logo{
    padding: 24px 0;
}
.logo img{
    width: 158px;
    height: 70px;
}












.public{
	width: 1200px;
	height: 100px;
	margin: 0px auto;
}
.head{
	height: 505px;
	width: 1200px;
	background: url(images/170627180551223960.jpg) no-repeat;
	margin: 0px auto;
	/*margin-top: 300px;*/
}
.title_1{
	width: 1200px;
	height: 74px;
	padding-top: 60px; 
	padding-bottom: 40px;
	margin-top: 60px;
}
.title_1 h1{
	text-align: center;
	font-size: 34px;
	font-family: "微软雅黑";
}
.maxbox{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
.maxbox_l{
	width: 600px;
	height: 600px;
	float: left;

}

.word1{
	margin-left: 62px;
	margin-top: 500px;
}


.word1 h4 a{
	font-weight: "微软雅黑";
	font-size: 26px;
	color: #FFFFFF;	
	text-decoration: none;
} 
.word1 p{
	font-weight: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
}

}
.maxbox_r{
	width: 600px;
	height: 600px;
	float: right;

}
/*.maxbox_r_t_l{
	width: 600px;
	height: 300px;
	background: url(images/180419172227511886.jpg) no-repeat left;
	clear: both;
}*/
.maxbox_r_t_r{
	width: 299px;
	height: 300px;
	float: right;
	padding:30px;
	box-sizing:border-box;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
.maxbox_r_t_r a{
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 22px;
}
.maxbox_r_t_r p{
	padding:16px 0px 0px;
	font-size: 14px;
	color:#666666;
}
.maxbox_r_t_r_a,{
	margin: 0 0 0 4px;
}
.maxbox_r_b_l_a{
	margin: -15px 0 0 4px;
}
.maxbox_r_b img {
	float: right;

}
.maxbox_r_b{
	width: 600px;
	height: 300px;
	float: right;
/*	background: red;*/
}
.maxbox_r_b_l{
	width: 299px;
	height: 300px;
	padding: 16px 8px;
	box-sizing:border-box;
	float: left;
	border-bottom: 1px solid #dcdcdc;
	/*background: url(images/180601163241636875.jpg) no-repeat right;*/
}
.maxbox_r_b_l a{
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 22px;
}
.maxbox_r_b_l p{
	padding:16px 0px 0px;
	font-size: 14px;
	color:#666666;
}
.title_2{
	padding-top:40px; 
	padding-bottom: 40px;
	width: 1200px;
	height: 74px;
	text-align: center;
	font-size: 34px;
	font-family: "微软雅黑";
	font-weight: bold;
}
.mixbox{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
.mixbox_r{
	width: 600px;
	height: 600px;
	float: right;
}



.word2{
	margin-left: 62px;
	margin-top: 500px;
}


.word2 h4 a{
	font-weight: "微软雅黑";
	font-size: 26px;
	color: #FFFFFF;	
	text-decoration: none;
} 
.word2 p{
	font-weight: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
}

.mixbox_l{
	width: 600px;
	height: 600px;
}
.mixbox_l_t{
	width: 600px;
	height: 300px;
	background: url(images/160420165642345054.jpg) no-repeat left;
}
.mixbox_l_t_r{
	width: 299px;
	height: 300px;
	padding: 16px 8px;
	box-sizing:border-box;
	float: right;
	border-top: 1px solid #dcdcdc;
}
.mixbox_l_t_r a{
	text-decoration: none;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #000;
	font-weight: bold;
}
.mixbox_l_t_r p{
	padding:16px 8px;
	font-size: 14px;
	color:#666666;
}
.mixbox_l_t_r_a{
	margin: 0 0 0 4px;
}
/*.mixbox_l_b{
	width: 600px;
	height: 300px;
	background: url(images/170721105847411949.jpg) no-repeat right;
}*/
.mixbox_l_b_r{
	width: 300px;
	height: 300px;
	float: right;
}

.mixbox_l_b_l{
	width: 300px;
	height: 300px;
	padding: 16px 8px;
	box-sizing:border-box;
	float: left;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
}
.mixbox_l_b_l a{
	text-decoration: none;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #000;
	font-weight: bold;
}
.mixbox_l_b_l p{
	padding:16px 8px;
	font-size: 14px;
	color:#666666;
}
.mixbox_l_b_l_a{
	margin: 0 0 0 4px;
}


/*底部*/
/* 二维码 */
.foot{
    width: 600px;
    height: 140px;
    margin: 100px auto;
    border-bottom: 1px solid #DCDCDC;
}

.foot_logo{
    width: 130px;
    height: 64px;
    float: left;
    margin: 30px 64px 0 50px;
    padding-right: 48px;
    border-right: 1px solid #DCDCDC;
}
.foot_vb{
    /* width: 118px;
    height: 70px; */
    float: left;
    margin-top: 38px;
}
.li_vb{
    width: 100px;
    float: left;
    margin-right: 35px;
}
.box_vb{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: -25px 0 126px -2px;
}
.box_text1{
    width: 120px;
    margin: 0 0 0 -20px;
}
.foot_vx{
    float: left;
    margin-top: 38px;
}
.li_vx{
    width: 120px;
    height: 60px;
    float: left;
}
.box_vx{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: -25px 0 126px -2px;
}
.box_text2{
    width: 120px;
    margin: 0 0 0 -20px;
}
/* 结尾部位 */
.foot_jw{
    text-align: center;
    margin: -80px auto;
}
.foot_jw a{
    margin-left: 50px ;
}
.foot_jw p{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 50px;
    color: #737373;
    font-family: "微软雅黑"
}
.foot_jw p a{
	font-family: "黑体"
}
.foot_jw p a{
    font-size: 18px;
    color: #737373;
}
.jw_box{
    width: 170px;
    margin: 94px 0 200px 714px;
}
.jw_box p img{
    width: 25px;
    height: 25px;
    margin: 0 10px -5px 0;
}
.foot_jw p a{
    margin: 0 0 0 10px;

}
.foot_jw a{
	text-decoration: none;
	color:#000
}
.zz{
    /*margin-bottom: 5px;*/
    color:#333333;;
    margin-left: 0px;
    margin-top: -133px;
}
.jw_box p a{
	text-decoration:none;
	color: #000
}
ul li{
	list-style:none;
}