@charset "utf-8";

.wf_wrap{ background:url(innerBg-1.jpg)/*tpa=https://www.disneyenglish.com/images/innerBg.jpg*/ repeat left top; width:100%; }
.wf_cont{ background:url(innerBg-1.jpg)/*tpa=https://www.disneyenglish.com/images/innerBg.jpg*/ repeat left top; width:1010px; margin:0 auto; padding-bottom:8px; padding-top:8px; overflow:hidden; position:relative; z-index:1; }

.content { position:absolute; left:0; top:0;}
.content-1{ width:248px; }
.content-2{ width:496px; }
.content-3{ width:744px; }
.content-4{ width:992px; }

.bigeye_img{ position:absolute; left:0 ; top:0; display:none}
/*.bigeye_link{ text-align:center; padding-top:15px; padding-bottom:11px;}*/
.bigeye_cont{ position:relative;}

.bigeye_link {
    padding-top: 10px;
    text-align: center;
}
.eye_cont {
    overflow-x: hidden;
    overflow-y: hidden;
}

.bigeye_link a:hover, .bigeye_link a.on {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("point-1.png")/*tpa=https://www.disneyenglish.com/images/point.png*/;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.bigeye_link a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("point-1.png")/*tpa=https://www.disneyenglish.com/images/point.png*/;
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block;
    height: 10px;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0;
    width: 10px;
}

.content h1{padding:10px 0 0 0; margin-bottom:10px; line-height:18px;  text-align:justify; font-weight:bold}
.content h2{padding:10px 0 6px; font-size:22px;}
.content h2.contentTitle{ padding:10px 0px 6px; }
.content p.contentTitle{ padding:0 20px 0; }

.content h3{padding:30px; margin-bottom:13px; font-size:18px}
.content p{padding:0; margin-bottom:10px; line-height:18px;  text-align:justify;}
.contentDesp div strong{text-align: justify;}

.content .contentDesp{ padding:0 20px; }

.content .contentDesp li{ list-style:disc; margin-bottom:8px; margin-left:15px;}
.center{ text-align:center}
.content  .summarize_table{width: 100%;height:276px;}
.content  .summarize_table td{ padding:0 3%; width:46%; height:120px; vertical-align: middle; border-left:1px solid #fff; border-bottom:1px solid #fff;}
.content  .summarize_table li{ list-style:disc; margin-left:15px;}
.content  .summarize_table .color1{ background:#1d4597}
.f1_ico1{ background: url("f_ico_01-1.png")/*tpa=https://www.disneyenglish.com/images/f_ico_01.png*/ 85% 15% no-repeat;}
.f1_ico2{ background: url("f_ico_02-1.png")/*tpa=https://www.disneyenglish.com/images/f_ico_02.png*/ 85% 15% no-repeat;}
.f1_ico3{ background: url("f_ico_03-1.png")/*tpa=https://www.disneyenglish.com/images/f_ico_03.png*/ 85% 15% no-repeat;}
.f1_ico4{ background: url("f_ico_04-1.png")/*tpa=https://www.disneyenglish.com/images/f_ico_04.png*/ 85% 15% no-repeat;}
.f_cont2_li{ width:96px; float:left; padding:20px; padding-top:0px; margin-left:10px; margin-top:20px; border-right:1px solid #fff; line-height:18px;}
.f_cont2_li_last{ width:120px; float:left; padding:20px; padding-top:0px; margin-left:10px; margin-top:20px; line-height:18px;}
.f2_ico1{ background: url("f2_ico_01-1.jpg")/*tpa=https://www.disneyenglish.com/images/f2_ico_01.jpg*/ 85% 15% no-repeat;}
.f2_ico2{ background: url("f2_ico_02-1.jpg")/*tpa=https://www.disneyenglish.com/images/f2_ico_02.jpg*/ 85% 15% no-repeat;}
.f2_ico3{ background: url("f2_ico_03-1.jpg")/*tpa=https://www.disneyenglish.com/images/f2_ico_03.jpg*/ 85% 15% no-repeat;}
.f2_ico4{ background: url("f2_ico_04-1.jpg")/*tpa=https://www.disneyenglish.com/images/f2_ico_04.jpg*/ 85% 15% no-repeat;}

.cont_img6{ float:left; margin-right:30px;}
.cont_p6{ padding:20px 20px 0 0; }

.cont_p6 p{ font-size:14px; line-height:30px; list-style:disc; margin-top:20px;text-align:left;}



